<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper namespace 속성은 연결할 mapper의 interface 풀 경로로 작성 -->
<mapper namespace="com.momo.mapper.ReplyMapper">
<!-- rno:게시물 답글번호? -->


	<!-- 댓글조회 -->
	<select id="getList" parameterType="int" resultType="com.momo.vo.ReplyVO">
		select rno, bno, reply, replyer, to_char(replyDate,'yyyy-MM-dd') replyDate, updateDate 
		from tbl_reply
		where bno = #{bno}
		order by rno desc
	</select>
	
	<!-- 댓글 작성 -->
	<insert id="insert">
		insert into tbl_reply (rno, bno, reply, replyer, replydate)
		values (seq_reply.nextval, #{bno}, #{reply}, #{replyer}, sysdate)
	</insert>
	
	<!-- 댓글 삭제 -->
	<delete id="delete">
		delete from tbl_reply where rno = #{rno}
	</delete>

	<!-- 댓글 업데이트 -->
	<update id="update">
		 update tbl_reply 
		 set reply = #{reply}, 
			updatedate = sysdate 
			where rno =#{rno}		
	</update>


</mapper>
